body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    color: #333333;
}

.events-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.event-card {
    background-color: white;
    padding: 4px;
    margin-bottom: 16px;
    border-radius: 8px;
    border-left: 10px solid #e63946;
}

@media (max-width: 600px) {
    .events-container {
        grid-template-columns: 1fr;
    }
}

#loading {
    font-size: 18px;
    color: #555;

    
}

#search-bar {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 16px;
  }